# ignore all . files and . folders
.*
!/.gitignore

# ignore all . files but include . folders (might be useful in the future)
#.*
# #!.*/

data/raw/
data/process/
ref/
results/
checkpoint/
workflow/rules/ArchiveFiles/
workflow/dags/ArchiveFiles/
workflow/scripts/db_download_old.sh


